/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */

body{
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	padding-top: 34px;
}
.logo{
	padding-top: 22.5px;
	display: block;
}
.nav-link{
	color: #5d5f65;
	font-size: 16px;
	padding: 0.5rem 0.8rem;
}
.todo-al-centro{
	width: 100%;
	height: 615px;
	display: flex;
	align-items: center;
}
.todo-al-centro h1{
	color: #141720;
	font-weight: bold;
	font-size: 44px;
	font-family: "Montserrat", sans-serif;
	margin-bottom: 17px;
}
.todo-al-centro h2{
 	font-size: 25px;
  	line-height: 2.4;
}
.dos-secciones{
	background: #141720;
  	padding-top: 145px;
  	padding-bottom: 241px;
  	color: #fff;
 	position: relative;
}
.dos-secciones h3{
	font-family: "Montserrat", sans-serif;
	font-size: 24px;
	margin-bottom: 46px;
}
.dos-secciones p{
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	line-height: 26px;

}
.imagen-dos-secciones{
 	 width: 720px;
 	 height: 700px;
 	 background: url(../imagen/imagen-dos-secciones.jpg);
 	 background-size: cover;
 	 position: absolute;
	 top: 0px;
	 right: 0px;
}

.imagen-timeline{
	width: 261px;
	height: 511px;
	background: url(../imagen/timeline.png);
	position: absolute;
	background-size: cover;
	margin-left: 150px;
	margin-top: 36px;
}
.timeline h3{
 	font-family: "Montserrat", sans-serif;
  	margin-top: 168px;
}
.timeline p{
	margin-top: 54px;
	color: #5D5F65;
}
.our-services{
	margin-top: 189px;
	background: #EFEFEF;
	position: relative;
	height: 900px;

}
.our-services h3{
	text-align: center;
	margin-top: 143px;
	margin-bottom: 79px;
  	font-family: "Montserrat", sans-serif;
  	left: 170px;
}
.our-services h4{
	margin-bottom: 15px;
	font-family: "Montserrat", sans-serif;
}
.our-services p{
	color: #5D5F65;
}
.wallet{
	background: url(../imagen/wallet.png);
	width: 40px;
	height: 40px;
	margin-bottom: 21px;
	margin-top: 79px;
}
.smile{
	background: url(../imagen/smile.png);
	width: 40px;
	height: 38px;
	margin-bottom: 21px;
	margin-top: 81px;
}
.heart{
	background: url(../imagen/heart.png);
	width: 40px;
	height: 36px;
	margin-bottom: 21px;
	margin-top: 83px;
}
.shape{
	background: url(../imagen/shape.png);
	width: 29px;
	height: 32px;
	margin-bottom: 28px;
	margin-top: 70px;
}	
.joystick{
	background: url(../imagen/joystick.png);
	width: 40px;
	height: 38px;
	margin-bottom: 21px;
	margin-top: 70px;
}
.cellphone{
	background: url(../imagen/cellphone.png);
	width: 21.5px;
	height: 36px;
	margin-bottom: 21px;
	margin-top: 71px;
}
.were-hiring{
	background: #141720;
	position: relative;
	height: 700px;
}
.were-hiring h3{
	margin-top: 143px;
	margin-bottom: 50px;
	font-family: "Montserrat", sans-serif;
	color: #FFFFFF;
}
.were-hiring p{
	margin-top: 26px;
	margin-bottom: 0px;
	color: #FFFFFF;
}
.imagen-were-hiring{
	background: url(../imagen/were-hiring.png);
	background-size: cover;
	position: absolute;
	height: 700px;
	width: 629px;
	left: 0px;
	margin-top: 0px;
}
.contact-us{
	background: #141720;
	position: relative;
	height: 700px;
}
.contact-us h3{
	margin-top: 143.5px;
	color: #FFFFFF;
	font-family: "Montserrat", sans-serif;
}
.contact-us p{
	color: #FFFFFF;
	margin-top: 55px;
}
.contact-us h4{
	text-align: center;
	color: #FFFFFF;
	font-size: 15px;
	margin-top: 107px;
	background: #C71222;
	padding-top: 15px;
	padding-bottom: 20px;
	padding-right: 46px;
	padding-left: 46px;
	border-radius: 100px;

}
.imagen-contact-us{
	background: url(../imagen/map.png);
	background-size: cover;
	position: absolute;
	height: 700px;
	width: 720px;
	right: 0px;
}
.line-contact-us-1{
	background: #FFFFFF;
	width: 390px;
	height: 2px;
	position: absolute;
	margin-top: 260px;
	left: 120px;
}
.line-contact-us-2{
	background: #FFFFFF;
	width: 390px;
	height: 2px;
	position: absolute;
	margin-top: 337px;
	left: 120px;
}
.line-contact-us-3{
	background: #FFFFFF;
	width: 390px;
	height: 2px;
	position: absolute;
	margin-top: 585px;
	left: 120px;
}